<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container">
      <div class="text-info">
	<h1><%= title %></h1>
      </div>
    <p>Welcome to <%= title %></p>
    <!--  hello -->
    <% beforeone = '' %>
    <tr>
    <% photolist.forEach(function(photo){ %>
    <td>
      <% if (photo['category'] !== beforeone ) { %>
        <div class="text-info">
          <h2><%= photo['category'] %></h2>
	</div>
      <% beforeone = photo['category'] } %>
      <img src= <%= photo['dataUrl'] %> width='50%' />
      <h2> </h2>
    </td>
    <% }) %>

    </tr>
    </div>
  </body>
<script type="text/javascript" src="/public/third_party/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/public/third_party/bootstrap/dist/js/bootstrap.js"></script>

</html>
