<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>ejs login</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body>
<div class="text-info">
<h1>ようこそ!</h1>
</div>
<div class="container">
<form action="/login" method="post" class="form-horizontal">
   <div class ="form-group">
   	<label class="control-label col-xs-2">Username:</label>
	<div class="col-xs-3">
      	   <input type="text" name="username" class="form-control"/><br/>
	</div>
   </div>
   <div class ="form-group">
	<label class="control-label col-xs-2">Password:</label>
	<div class="col-xs-3">
	  <input type="password" name="password" class="form-control"/>
	</div>
   </div>
   <div class ="form-group">
   	<div class-"col-xs-offset-2 col-xs-10">
	<input type="submit" value="送信" class="btn btn-info">
	</div>
   </div>
</form>
</div>
<script type="text/javascript" src="/public/third_party/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/public/third_party/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>