<html>
<body>
    <h1>Aiki Douso-kai</h1>
    <script>
      var xhr = new XMLHttpRequest();
      xhr.open("GET","/aiki/photo/list");
      xhr.addEventListener("load",function(e){
      var photoList = JSON.parse(xhr.responseText);
      for( var photo of photoList){

         var s = "<img src=./images/"+ photo["name"]+' width="50%" />';
         document.writeln(s);
      }
      });
      xhr.send();
    </script>

</body>
</html>
